.card {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid var(--tuna-200);
  border-radius: var(--border-radius);
  background-color: var(--mine-shaft);

  z-index: 1;
  &.transparent {
    border: none;
    border-radius: 0;
    background-color: transparent;
  }
}

.card .card__title__ctn {
  font-size: rem(12);
  font-weight: bold;
  color: var(--white);
  background-color: black;
  border-bottom: 1px solid #3c3d3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;

  .card__title {
    flex: 1;
    padding-left: rem(8);

    & > span {
      cursor: pointer;
    }
  }

  .icons-right {
    height: 100%;
    display: flex;
    align-items: center;
    // padding-right: rem(8);
  }
}

.card .card__content {
  overflow: hidden;
  height: calc(100% - 28px); // 36px = 28px (header's height) + 8px(margin)
  position: relative;
  background-color: black;

  &.card__content__padding {
    & > div {
      padding: 0 rem(8) 4px rem(8);
    }
    .order-form__wrapper {
      padding-top: 20px;
    }
    // overflow-y: auto;
  }
}

.order-entry-form .card__content {
  &.card__content__padding {
    overflow-y: auto;
    background-color: black;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #999;
      width: 6px;
      border-radius: 3px;
      transition: all 0.4s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #aaa;
    }
  }
}
